In [113]:
!nodetool status

Datacenter: datacenter1
=======================
Status=Up/Down
|/ State=Normal/Leaving/Joining/Moving
--  Address     Load        Tokens  Owns (effective)  Host ID                               Rack
UN  172.21.0.4  203.86 KiB  16      100.0%            739395b2-9b2a-4828-a1a2-a85a7e358b24  rack1
UN  172.21.0.2  201.69 KiB  16      100.0%            d9d860d3-d1f1-4282-85f4-efd30b5b1258  rack1
UN  172.21.0.3  190.49 KiB  16      100.0%            b6057742-477a-4263-8869-1dc8926cb85e  rack1

In [114]:
#Connect to the Cassandra cluster
from cassandra.cluster import Cluster
cluster = Cluster(['p6-db-1', 'p6-db-2', 'p6-db-3'])
cass = cluster.connect()

In [115]:
#q1
#drop a weather keyspace if it already exists
cass.execute("drop keyspace if exists weather;")
#create a weather keyspace with 3x replication
cass.execute("create keyspace weather with replication={'class': 'SimpleStrategy', 'replication_factor': 3};")
#inside weather, create a station_record type containing two ints: tmin and tmax
cass.execute("""
CREATE TYPE
weather.station_record (
    tmin int,
    tmax int
)
""")
#inside weather, create a stations table
cass.execute("""
CREATE TABLE weather.stations (
    id text,
    name TEXT STATIC,
    date date,
    record station_record,
    state TEXT,
    PRIMARY KEY (id,date)
) WITH CLUSTERING ORDER BY (date ASC)
""")

print(cass.execute("describe table weather.stations ").one().create_statement)

CREATE TABLE weather.stations (
    id text,
    date date,
    name text static,
    state text,
    record station_record,
    PRIMARY KEY (id, date)
) WITH CLUSTERING ORDER BY (date ASC)
    AND additional_write_policy = '99p'
    AND bloom_filter_fp_chance = 0.01
    AND caching = {'keys': 'ALL', 'rows_per_partition': 'NONE'}
    AND cdc = false
    AND comment = ''
    AND compaction = {'class': 'org.apache.cassandra.db.compaction.SizeTieredCompactionStrategy', 'max_threshold': '32', 'min_threshold': '4'}
    AND compression = {'chunk_length_in_kb': '16', 'class': 'org.apache.cassandra.io.compress.LZ4Compressor'}
    AND memtable = 'default'
    AND crc_check_chance = 1.0
    AND default_time_to_live = 0
    AND extensions = {}
    AND gc_grace_seconds = 864000
    AND max_index_interval = 2048
    AND memtable_flush_period_in_ms = 0
    AND min_index_interval = 128
    AND read_repair = 'BLOCKING'
    AND speculative_retry = '99p';

In [116]:
#Create a local Spark session
from pyspark.sql import SparkSession
spark = (SparkSession.builder
         .appName("p6")
         .config('spark.jars.packages', 'com.datastax.spark:spark-cassandra-connector_2.12:3.4.0')
         .config("spark.sql.extensions", "com.datastax.spark.connector.CassandraSparkExtensions")
         .getOrCreate())

In [117]:
sc = spark.sparkContext # for interacting directly with RDDs

In [118]:
#q2

In [119]:
df = spark.read.text("ghcnd-stations.txt")

In [120]:
pandas_df=df.toPandas()

In [121]:
pandas_df["station"] = pandas_df["value"].str[:11]

In [122]:
from pyspark.sql.functions import col, expr

In [123]:
df2 = df.withColumn("station", expr("substring(value, 0, 11)")).withColumn(
     "STATE",expr("substring(value,38,40)")).withColumn(
     "NAME",expr("substring(value, 41,71)"))
df2
df2=df2.filter(col("STATE").like("%WISCONSIN%"))
df2.toPandas()

,value,station,STATE,NAME
0,US1WICB0008 43.6324 -89.7672 285.9 WI WISCO...,US1WICB0008,WI WISCONSIN DELLS 0.7 NE,WISCONSIN DELLS 0.7 NE
1,US1WIJN0005 43.6465 -89.7963 256.3 WI WISCO...,US1WIJN0005,WI WISCONSIN DELLS 1.7 NNW,WISCONSIN DELLS 1.7 NNW
2,US1WIWD0002 44.3382 -89.7820 311.2 WI WISCO...,US1WIWD0002,WI WISCONSIN RAPIDS 4.6 SSE,WISCONSIN RAPIDS 4.6 SSE
3,US1WIWD0009 44.3608 -89.7747 313.6 WI WISCO...,US1WIWD0009,WI WISCONSIN RAPIDS 3.7 SE,WISCONSIN RAPIDS 3.7 SE
4,USC00479319 43.6072 -89.7633 253.9 WI WISCO...,USC00479319,WI WISCONSIN DELLS WWTP,WISCONSIN DELLS WWTP
5,USC00479335 44.3881 -89.8056 314.9 WI WISCO...,USC00479335,WI WISCONSIN RAPIDS,WISCONSIN RAPIDS
6,USR0000WANT 45.1500 -89.1500 456.9 WI ANTIG...,USR0000WANT,WI ANTIGO WISCONSIN,ANTIGO WISCONSIN
7,USR0000WAUG 44.6981 -91.1342 295.7 WI AUGUS...,USR0000WAUG,WI AUGUSTA WISCONSIN,AUGUSTA WISCONSIN
8,USR0000WBAR 46.4000 -91.5000 368.8 WI BARNE...,USR0000WBAR,WI BARNES WISCONSIN,BARNES WISCONSIN
9,USR0000WBRF 44.3003 -90.8350 255.4 WI BLACK...,USR0000WBRF,WI BLACK RIVER FALLS WISCONSIN,BLACK RIVER FALLS WISCONSIN
10,USR0000WDDG 43.1000 -90.0000 384.0 WI DODGE...,USR0000WDDG,WI DODGEVILLE WISCONSIN,DODGEVILLE WISCONSIN
11,USR0000WGLI 46.1400 -90.0000 472.4 WI GLIDD...,USR0000WGLI,WI GLIDDEN WISCONSIN,GLIDDEN WISCONSIN
12,USW00004826 44.3592 -89.8369 309.4 WI WISCO...,USW00004826,WI WISCONSIN RAPIDS ALEXANDER FLD,WISCONSIN RAPIDS ALEXANDER FLD

In [146]:
#Filter your results to the state of Wisconsin, collect the rows in your notebook so you can loop over them,
#and do an INSERT into your weather.stations table for each station ID and name.
for row in df2.collect():
    station_WI=row["station"]
    name_WI=row["NAME"]
    sql_query=f"INSERT INTO weather.stations VALUES ({station_WI},'{name_WI}')"
    spark.sql(sql_query)
    #spark.sql(f"INSERT INTO weather.stations VALUES ({station_WI},'{name_WI}')")

AnalysisException: [UNRESOLVED_COLUMN.WITHOUT_SUGGESTION] A column or function parameter with name `US1WICB0008` cannot be resolved. ; line 1 pos 37;
'InsertIntoStatement 'UnresolvedRelation [weather, stations], [], false, false, false
+- 'UnresolvedInlineTable [col1, col2], [['US1WICB0008,  WISCONSIN DELLS 0.7 NE                      ]]

In [147]:
for row in df2.collect():
    station_WI = row["station"]
    name_WI = row["NAME"]

    # Use proper string formatting and handle special characters
    sql_query = f"INSERT INTO weather.stations VALUES ('{station_WI}', '{name_WI}')"

    # Insert into the MySQL table
    spark.sql(sql_query)

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `weather`.`stations` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 12;
'InsertIntoStatement 'UnresolvedRelation [weather, stations], [], false, false, false
+- LocalRelation [col1#174, col2#175]

In [128]:
cass.execute(
    """
    INSERT INTO weather.stations 
    SELECT * FROM df2
    """
)

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 3:4 no viable alternative at input 'SELECT' (    INSERT INTO weather.stations     [SELECT]...)">

In [129]:
cass.execute(
    """
    SELECT COUNT(*) FROM weather.stations
    """
)

WARNING:cassandra.protocol:Server warning: Aggregation query used without partition key